/* General configs*/
*{
    font-family: Helvetica;
    color:#ECF0F1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { min-height: 100vh; max-width: 100%; overflow-x: hidden; background-color: #17202A}

/* Navbar*/

.navbar{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #1C2833;   
}

.navbar-nav li{
     display:inline;
     padding-left:10px;
     padding-right:10px;
     
}

/* Logo */

.logo{
    height: 60px;
    width: 60px;
    margin: 0px 30px 0px 30px;
}